<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazysaem.confclock"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk 
    	android:minSdkVersion="8" />
    
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name">
        <activity 
            android:name=".ConfClockActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="CreateEditClock" />
        <activity 
            android:name=".modules.DisplayLight" />
        <activity 
            android:name=".ModuleDisplayLight" />
        <activity 
            android:name=".Settings" />
        <activity android:name=".ModuleVibration" />
        
        <receiver android:name=".broadcasts.BroadCastReceiverEx" android:enabled="true">
        	<intent-filter> 
                <action android:name="" />
                            	</intent-filter> 
        </receiver>
        <service android:name=".modules.Vibration"></service>
        <service android:name=".modules.TTS"></service>
        <activity android:name="ModuleTTS"></activity>
    </application>
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <uses-permission 
        android:name="android.permission.INTERNET"/>
    <uses-permission 
        android:name="android.permission.WAKE_LOCK"/>
 </manifest>